*,
*:after,
*::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body  {

	background-color: #000;
    /*background-image: url(../img/bgCab1.jpg);*/
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 100vh;
	width: 100%;
  color: white;
}



.bt-menu {
	z-index: 4;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	border-width: 0px;
	border-style: solid;
	border-color: black;
	background-color: rgba(0,0,0,0);
	-webkit-backface-visibility: hidden;
	-webkit-transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
	transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
}

.bt-menu.bt-menu-open {
	height: 100%;
	border-width: 0px 0px 50px 250px;
	background-color: rgba(0,0,0,0.3);
	-webkit-transition: border-width 0.3s, background-color 0.3s;
	transition: border-width 0.3s, background-color 0.3s;
}

.bt-overlay {
	position: absolute;
	width: 100%;
}

.bt-menu-open .bt-overlay {
	height: 100%;
}

.bt-menu-trigger {
	/*background: #efaf1e;*/
	position: fixed;
	top: 5px;
	left: 20px;
	z-index: 100;
	display: block;
	width: 50px;
	height: 50px;
	cursor: pointer;
}

.bt-menu-trigger span {
	position: absolute;
	top: 50%;
	left: 0;
	display: block;
	width: 100%;
	height: 8%;
	background-color: #ED2553;
	font-size: 0px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
}

.bt-menu-trigger span:before,
.bt-menu-trigger span:after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background: #ED2553;
	content: '';
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.bt-menu-trigger span:before {
	-webkit-transform: translateY(-250%);
	transform: translateY(-250%);
}

.bt-menu-trigger span:after {
	-webkit-transform: translateY(250%);
	transform: translateY(250%);
}

.bt-menu-open .bt-menu-trigger span:before {
	-webkit-transform: translateY(-300%);
	transform: translateY(-300%);
}

.bt-menu-open .bt-menu-trigger span:after {
	-webkit-transform: translateY(300%);
	transform: translateY(300%);
}

.bt-menu ul {
	width: 50px;
	position: fixed;
	margin: 0;
	padding: 0;
	list-style: none;
}

.bt-menu ul:first-of-type {
	top: 75px;
	left: 0;
}

.bt-menu ul:nth-of-type(2) {
	right: 0;
	bottom: 0;
}

.bt-menu ul li,
.bt-menu ul li a {
	display: block;
}

.bt-menu ul:nth-of-type(2) li {
	float: left;
	font-size: 0px;
}

.bt-menu ul li {
	visibility: hidden;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s, visibility 0s 0.3s;
	transition: transform 0.3s, opacity 0.2s, visibility 0s 0.3s;
}

.bt-menu.bt-menu-open ul:first-of-type li,
.bt-menu.bt-menu-open ul:nth-of-type(2) li {
	visibility: visible;
	opacity: 1;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s 0.1s;
	transition: transform 0.3s, opacity 0.3s;
}

/* First menu */
.bt-menu ul:first-of-type li {
	width: 250px;
	height: 50px;
	line-height: 50px;
	-webkit-transform: translate3d(-100%,50%,0);
	transform: translate3d(-100%,50%,0);
}

.bt-menu.bt-menu-open ul:first-of-type li {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/* Second menu */
.bt-menu ul:nth-of-type(2) li {
	width: 60px;
	height: 50px;
	line-height: 50px;
	-webkit-transform: scale(0);
	transform: scale(0);
}

.bt-menu.bt-menu-open ul:nth-of-type(2) li:first-child {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.bt-menu.bt-menu-open ul:nth-of-type(2) li:nth-child(2) {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.bt-menu.bt-menu-open ul:nth-of-type(2) li:nth-child(3) {
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.bt-menu.bt-menu-open ul:nth-of-type(2) li:nth-child(4) {
	-webkit-transition-delay: 0.4s;
	transition-delay: 0.4s;
}

.bt-menu.bt-menu-open ul:nth-of-type(2) li {
	-webkit-transform: scale(1);
	transform: scale(1);
}

.bt-menu ul li a {
	display: block;
	outline: none;
	text-decoration: none;
}

.bt-menu ul:first-of-type li a {
	padding: 0 20px;
	box-shadow: inset 0 1px rgba(0,0,0,0.2);
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1em;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.bt-menu ul:first-of-type li:last-child a {
	box-shadow: inset 0 1px rgba(0,0,0,0.2), inset 0 -1px rgba(0,0,0,0.2);
}

.bt-menu ul:nth-of-type(2) li a {
	color: transparent;
	text-align: center;
	font-size: 0px;
}

.bt-menu ul li a:before {
	color: #fff;
	font-size: 24px;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.bt-menu ul:first-of-type li a:hover,
.bt-menu ul:first-of-type li a:focus,
.bt-menu ul li a:hover:before,
.bt-menu ul li a:focus:before {
	color: #ED2553;
}

.container{
	font-family: 'Roboto Condensed', sans-serif !important;
}

.dataUserr{
    margin-left: 12%;
}
.dataUserr h1{
	margin-bottom:40px;
}

.profile_text{
	font-weight: 600;
	font-size: 17px;
}

.inp{
	width: 70%;
  height: 40px;
  border-radius: 3px;
  border: 1px solid #f5f5f5;
  box-shadow: 0px 0px 1.5px black;
  margin-top: 7px;
  /* background: rgba(0,0,0,0); */
  /* border: none; */
  /* border-bottom: solid 1px grey; */
  padding: 10px;
  margin-bottom: 15px;
  font-size: 16px;
  outline: 0 !important;
}
/* buttons */
.btn-4 {
	border-radius: 50px;
	border: 3px solid #fff;
	color: #fff;
	overflow: hidden;
	background: #fff;
}
.btn-4:hover {
	background: #ED2553;
}
.btn-4:active {
	border: none;
	color: #cdcdcd;
	background: #ED2553;
}
.btn-4:before {
	position: absolute;
	height: 100%;
	font-size: 125%;
	line-height: 3.5;
	color: #fff;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
/* Button 4a */
.btn-4a:before {
	left: 130%;
	top: 0;
}
.btn-4a:hover:before {
	left: 80%;
}
.btn {
	border:2px solid;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 15px 40px;
	display: inline-block;
	margin: 15px 0 0 0;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	line-height: 1;
}
.btn:focus{
	outline: 0 !important;
	color: white;
}
.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.btn-dogs{
	padding: 11px;
	width: 129px;
	height: 35px;
	font-size: 11px;
	margin-top: 0;
	margin-bottom: 30px;
}
.btn-walk{
	margin: 0 !important;
}
/*buttons*/
.walk{
	margin-top: 10px;
}


#particles-js{
	z-index: 1;
	width: 99%;
	position: absolute;
	top: 0;
	left: 0;
	height: 99%;
	/*min-height: 45rem;*/
}
.profile{
	color: #0f0f0f;
}
.PersonalData{
  z-index: 4;
  /*color: #0f0f0f;*/
	border-radius: 30px 30px 0 0;
	/*background: linear-gradient(180deg, #EECFBA, #C5DDE8);*/
	background: #f5f5f5;
	padding-bottom: 30px;
}

.PersonalData_dog{
  z-index: 4;
  color: #0f0f0f;
  padding: 5px 0px 0 25px;
	border-radius: 30px 30px 0 0;
	/*background: linear-gradient(180deg, #EECFBA, #C5DDE8);*/
	background: #f5f5f5;
	padding-bottom: 30px;
}

.PersonalData_walk{
  z-index: 4;
  color: #0f0f0f;
  padding: 5px 0px 0 25px;
	border-radius: 30px 30px 30px 30px;
	/*background: linear-gradient(180deg, #EECFBA, #C5DDE8);*/
	background: #f5f5f5;
	padding-bottom: 30px;
}

.add{
    border-radius: 30px 30px 30px 30px;
}
.dogs{
    z-index: 4;
    /*color: #0f0f0f;*/
    padding: 5px 0px 0 25px;
    border-radius: 30px 30px 30px 30px;
    /*background: linear-gradient(180deg, #EECFBA, #C5DDE8);*/
    background: #f5f5f5;
    padding-bottom: 30px;
}
.PersonalData fieldset{
	margin-top: 50px;
}
.profile_info img{
	width: 180px;
	height:104px;
}

.aForWalk{
	margin: 0 !important;
}

.profile_style{
	/*display: inline-block;*/
}
.Pets{
	z-index: 4;
	/*color: #000;*/
	/*background: linear-gradient(180deg, #C5DDE8, #EECFBA);*/
	background: #f5f5f5;
	border-top: 1px solid #c9c9c9;
	/*border-radius: 0 0 30px 30px;*/
	height: 400px;
}
.addPet{
	z-index:6;
	/*background-color: #56586e;*/
	width:230px;
	height:250px;
	margin-top: 40px;
	line-height:12px;
	border-radius:9px;
	padding:10px;
	position:relative;
	transition: all 0.9s ease;
	opacity:1;
	display: block;
	text-align: center;
}

.addPet img{
	margin-top: 40px;
	width: 100px;
	height: 100px;
}
.watchPet{
	z-index:6;
/*	background-color: #56586e;*/
	width:230px;
	height:250px;
	margin-top: 40px;
	line-height:12px;
	border-radius:9px;
	padding:10px;
	position:relative;
	transition: all 0.9s ease;
	opacity:1;
	display: block;
	text-align: center;
}

.watchPet img{
	margin-top: 40px;
	width: 100px;
	height: 100px;
}
.dogwalkers{
	/*color: #000;*/
	height: 400px;
	z-index: 4;
	background-color: #f5f5f5;
	border-top: 1px solid #c9c9c9;
}
/*.fade-enter-active, .fade-leave-active {*/
	/*transition: opacity .5s;*/
/*}*/
/*.fade-enter, .fade-leave-to !* .fade-leave-active до версии 2.1.8 *! {*/
	/*opacity: 0;*/
/*}*/

nav a {
	margin-top: 60px;
	position: relative;
	display: block;
	/*align-content: center;*/
	/*align-items: center;*/
	text-align: center;
	/*margin: 15px 25px;*/
	outline: none;
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1.35em;
}
nav a:hover,
nav a:focus {
	outline: none;
}

/* Эффект 1: Скобки */
.cl-effect-1 a::before,
.cl-effect-1 a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.cl-effect-1 a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}
.cl-effect-1 a:hover{
	color: #ED2553;
}
.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}
/*.game{*/
	/*height: 500px;*/
/*}*/
.head{
	padding: 20px 0 0 15px;
}
.knop{
	padding: 0 0 0 20px;
}
.main{
    z-index: 4;
}
.doggie{
    margin-top: 25px;
    margin-left: -50px;

    /*display: inline-flex;*/
}