body{
	background: #000;
}
#map {
    width: 100%;
    height:100vh;
    display: flex;
    position: relative;
}
/*.py-4{*/
	/*padding-bottom: 0!important;*/
/*}*/
.forInstruction{
	width: 100%;
	height: 50px;
}
.instruction{
	background-color: #fff;
	border: 5px outset #ff4764;
	border-right: 0px;
	/*-moz-border-radius-topleft: 50px ;*/
	padding: 3px;
	margin-bottom: 5px;
	display: block;
	max-width: 300px;
	min-width: 60px;
	position: fixed;
	right: 0px;
	top: 60px;
	width: 20%;
	z-index: 2;
}

.logo_container{
		max-width: 100% !important;
		margin: 0 !important;
		padding: 0 !important;
		width: 100% !important;
		position: absolute;
		background: rgba(0,0,0,0.4) !important;
}
.logo_containerMap{
	max-width: 100% !important;
	margin: 0 !important;
	padding: 0 !important;
	width: 100% !important;
	position: absolute;
	background: rgba(176, 47, 71, 0.61) !important;
}

.topnav a:hover{
	border-bottom: 3px solid rgba(237, 37, 83, 0.2);
}

.header__logo{
	margin-left: 5%;
}

.logo_container{
	background-color: #000;
	z-index: 999;
	height: 8vh !important;
	margin-bottom: -8vh !important;
}


.container_map{
	display: flex;
	align-items: center;
	justify-content: center;
}

.topnav a{
    padding: 32px 5px;
}

.info_h1 h1{
	font-size: 22px !important;
}

.py-4{
	background: #000000;
}

.info__spans{
	display: flex;
	flex-direction: column;
}

.info__spans span{
	font-family: "Roboto", sans-serif;
}


/*font-family: 'Roboto', sans-serif;*/
h4{
	display: flex;
	align-self: center;
	font-weight: 600 !important;
	letter-spacing: 1.1px;
	font-family: 'Bebas Neue Book', sans-serif !important;
	font-size: 16px !important;
}