*{
	margin: 0;
	padding: 0;
}
/* Шрифт предложения*/
@font-face {
font-family: 'Ropa Sans Pro SC Regular';
src: url('../fonts/RopaSansSCPro-Regular.eot');
src: url('../fonts/RopaSansSCPro-Regular.eot?#iefix') format('embedded-opentype'),
url('../fonts/RopaSansSCPro-Regular.woff') format('woff'),
url('../fonts/RopaSansSCPro-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}


@font-face {
font-family: 'Myriad Pro Regular';
src: url('../fonts/MyriadPro-Regular.eot');
src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
url('../fonts/MyriadPro-Regular.woff') format('woff'),
url('../fonts/MyriadPro-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Minion Pro Regular';
src: url('../fonts/MinionPro-Regular.eot');
src: url('../fonts/MinionPro-Regular.eot?#iefix') format('embedded-opentype'),
url('../fonts/MinionPro-Regular.woff') format('woff'),
url('../fonts/MinionPro-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Bebas Neue Book';
src: url('../fonts/BebasNeueBook.eot');
src: url('../fonts/BebasNeueBook.eot?#iefix') format('embedded-opentype'),
url('../fonts/BebasNeueBook.woff') format('woff'),
url('../fonts/BebasNeueBook.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Bebas Neue Regular';
src: url('../fonts/BebasNeueRegular.eot');
src: url('../fonts/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
url('../fonts/BebasNeueRegular.woff') format('woff'),
url('../fonts/BebasNeueRegular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
/* Шрифт меню верх*/
@font-face {
font-family: 'Ropa Sans Pro SCPTT Regular';
src: url('../fonts/RopaSansSCPTT-Regular.eot');
src: url('../fonts/RopaSansSCPTT-Regular.eot?#iefix') format('embedded-opentype'),
url('../fonts/RopaSansSCPTT-Regular.woff') format('woff'),
url('../fonts/RopaSansSCPTT-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
/* шрифт кнопки*/
@font-face {
font-family: 'Ropa Sans Pro PTT Regular';
src: url('../fonts/RopaSansPTT-Regular.eot');
src: url('../fonts/RopaSansPTT-Regular.eot?#iefix') format('embedded-opentype'),
url('../fonts/RopaSansPTT-Regular.woff') format('woff'),
url('../fonts/RopaSansPTT-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

html, body{
	overflow-x: hidden !important; 
	height: 100%;
}

a{
	text-decoration: none !important;
}
li{
	list-style: none;
}
body {
	font-family: sans-serif;
	background: #fff;
}
.py-4{
	padding-top: 0 !important;
	display: flex;
	flex-direction: column;
}

/* основы*/

.promo{
	display: flex;
	position: relative;
	flex-direction: column;
	
}

.main__block {
	position: relative;
	display: flex;
}

.back{
	background-image: url(../img/bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 100vh;
	width: 100%;
}

.header_container_new{
	z-index: 4;
	display: flex;
  align-items: center;
  flex-direction: row;
}

.header__logo {
	display: flex;
	position: relative;
	cursor: pointer;
}

.logo_container{
	background-color: #000;
	z-index: 999;
	height: 12vh;
	margin-bottom: -12vh;
}

.header__logo img {
	margin: 5px 0;
	width: 69px;
	height: 29px;
}

.topnav{
	display: flex;
	height: 60px;
}

.topnav a{
	font-family: 'Ropa Sans Pro SC Regular';
	color: #fff;
	position: relative;
	padding: 12px 15px;
	font-size: 20pt;
}

.topnav a:hover{
	opacity: 1;
	border-bottom: 3px solid #ED2553;
}

.topnav a img{
	width: 25px;
}

/* КОНЕ1 ХЕДЕРА*/

/* футер*/
.footer__container{
	position: relative;
	width: 100%;
	flex-direction: row;
	display: flex;
	justify-content: center;
}

.container__item{
	position: relative;
	display: flex;
	flex-direction: column;
}

.container__item a{
	color: #000;
}

.container__item li{
	font-family: 'Ropa Sans Pro SC Regular';
	font-size: 12px;
	font-weight: 600;
	opacity: 0.8;
	text-transform: uppercase;
}

.container__item li:not(:last-child){
	margin-bottom: 5px; 
}
.container__item li:first-child{
	margin-top: 10px;
}

.container__item h2{
	font-family: 'Ropa Sans Pro SCPTT Regular';
	margin-top: 25px;
	font-size: 16px;
	text-transform: uppercase;
}
.container__item:not(:nth-child(2)) h2:after{
	content: "";
	display: block;
	margin: 0 auto;
	padding-top: 15px;
	width: 222px;
	border-bottom: 3px solid #000;
}

.container__item:nth-child(2) h2:after{
	content: "";
	display: block;
	margin: 0 auto;
	padding-top: 15px;
	width: 400px;
	border-bottom: 3px solid #000;
}

.container__item:first-child, .container__item:nth-child(2){
	margin-right: 50px;
}

.social{
	position: relative;
	margin-top: 8px;
}
.social img{
	width: 27px;
}
.social a:hover {
	opacity: 0.8;
}

/* коне1 футера*/

.container .main_img{
	display: flex;
	width: 100%;
	align-self: center;
}
.container__text {
	background-image: url(../img/bg.jpg) no-repeat;

	display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    height: 36vw;
    width: 100%;
    top: 40%;
    left: 8%;
}

.block_first{
	position: relative;
	top: 38%;
}

.block_4, .block_5{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 40px;
}
.offers .items__h2{
	color: #fff !important;
}

.offers .items__h2:after{
	content: "";
	display: block;
	margin-top: 8px;
	border-bottom: 3px solid #ED2553;
	width: 18.4%;
}

.block_5 .items__h2, .block_5 .items__h2, .block_5 .items__span, .block_5 .items__column{
	color:#fff !important;
}


.block_first h1 {
	font-family: 'Bebas Neue Book';
	color: #fff;
	font-size: 60px;
	font-weight: 600;
	width: 1003px;
	text-align: left;
	letter-spacing: 8px;
}
.block_first h1:after{
	content: "";
	display: block;
	border-bottom: 3px solid #ED2553;
	width: 15.4%;
}

.block_first h2 {
	font-family: 'Bebas Neue Book';
	color: #fff;
	font-size: 28px;
	font-weight: 600;
	width: 1003px;
	text-align: left;
	letter-spacing: 9px;
}


.block_first .button__span 
{
	display: flex;
	justify-content: left;
  margin-top: 16px;
  min-width: 217px;
  min-height: 49px;
  font-size: 18px;
	letter-spacing: 2px;
	color: #fff;
	padding: 5px;
	text-transform: uppercase;
	font-weight: 100;
	font-family: 'Bebas Neue Book', sans-serif;
}

.black__news a{
	color: #fff;
}

/* 4 БЛОКА */
.container__items, .container__status{
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

 .items__h2{
	position: relative;
	margin-top: 73px;
	margin-bottom: 20px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 4px;
	color: #000;
	font-family: 'Ropa Sans Pro SC Regular';
	font-size: 34px;
}

 .items__h2_about{
 	padding-bottom: 10px;
	position: relative;
	margin-top: 73px;
	margin-bottom: 40px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 4px;
	color: #000;
	font-family: 'Ropa Sans Pro SC Regular';
	font-size: 34px;
}


.items__h2:after, .items__h2_about:after{
	content: "";
	display: block;
	margin: 2px auto;
	margin-top: 8px;
	border: 2px solid #ED2553;
	width: 45%;
}

.items__row {
	position: relative;
	width: 110%;
	display: inline-flex;
	justify-content: center;
}

.items__column {
	position: relative;
	width: 70%;
	flex-direction: column;
	justify-content: center;
}

.godd__span{
	font-family: 'Roboto', sans-serif;
}
.name h3{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}
.items__span{
	margin-top: 10px;
	font-family: 'Bebas Neue Book', sans-serif;
	font-weight: 600;
	font-size: 17px;
	position: relative;
	display: flex;
	justify-content: center;
	text-align: center;
	letter-spacing: 1.5px;
	width: 53%;
	margin-bottom: 20px;
}

.row_item {
	width: 30vw;
	position: relative;
	display: flex;
	cursor: pointer;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.row_item_1 {
	position: relative;
	display: flex;
	cursor: pointer;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}
.row_item_1 img {
	width: 50px;
}

.span_good{
	margin-left: 15px;
}
.span_good .good__h2{
	font-family: 'Roboto', sans-serif;
	font-weight: 700px;
	font-size: 20px;
}


.row_item .item__span {
	font-weight: 700;
	font-family: 'Roboto', sans-serif;
	display: flex;
  flex-direction: column;
  text-align: center;
}

.row_item img{
	width: 70px;
}

.span_desc{
	display: flex;
	font-family: 'Roboto', sans-serif;
	align-self: center;
	position: relative;
	font-size: 14px;
	padding: 2px 14px;
	text-align: center;
}


/* КОНЕ1 4 БЛОКОВ*/

/*  КРУГИ */

.row_circle{
	 	width:50px;
    height:50px;
    border-radius:20px;
    font-size:18px;
    color:#fff;
    line-height:50px;
    text-align:center;
    background:#000;
}


/* НАДПИСЬ В ПОДВАЛЕ*/

.footer__zag:before{
	content: "";
    display: block;
    margin: 0 auto;
    padding-top: 30px;
    width: 946px;
    border-bottom: 1px solid #e5e5e5;
}

.zag__block{
	position: relative;
    top: 21%;
    display: flex;
    justify-content: center;
}

.block__span{
	text-align: center;
	color: #000;
	font-family: 'Myriad Pro Regular';
	font-size: 16px;
}

.block_about{
	background: #fff;
	margin-bottom: 40px;
}

.block_choose{
	background-image: url('../img/6.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	width: 100%;
}

.bgc2{
	background-color: #f7f7f7;
}
.offers{
	background-color: black;
}
.offers h1{
	text-align: center;
	color: white;
	margin-top: 40px;
	margin-bottom: 40px;
}
.offer{
	background-color: grey;
	height: 400px;
	color:white;
	display: inline-flex;
}
.trio{
	margin-bottom: 40px;
}
.o1{
	background-image: url(../img/2.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.o2{
	background-image: url(../img/3.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.o3{
	background-image: url(../img/4.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.description{
	display: flex;
	align-items: flex-end;
}




*,
::after,
::before {
    box-sizing: border-box;
}

.name{
	margin-top: 40px;
}
.caption{
	display: table-row;
}
.caption h3{
	
}
.thumbs {
  opacity: .99;
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: relative;
  border-radius: 3px;
  cursor: pointer;
  /*-webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);*/
}
.thumbs:before {
  content: '';
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
  width: 100%;
  height: 50%;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  -webkit-transition-property: top, opacity;
  transition-property: top, opacity;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.thumbs img {
  display: block;
  width: 100%; /* ширина картинки */
  height: auto; /* высота картинки */
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.thumbs .caption {
  width: 100%;
  padding: 20px;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  text-align: center;
}

.caption .info {
	font-family: "Roboto", sans-serif;
	font-weight: 100;
}

.caption .pay {
	font-family: "Roboto", sans-serif;
	font-weight: 700;
}

.thumbs .caption span {
  display: block;
  opacity: 0;
  position: relative;
  top: 100px;
  -webkit-transition-property: top, opacity;
  transition-property: top, opacity;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.thumbs .caption .info {
  line-height: 1;
  font-weight: normal;
  font-size: 18px;
}
.thumbs .caption .pay {
  line-height: 1.2;
  margin-top: 5px;
  font-size: 12px;
}
.thumbs:focus:before,
.thumbs:focus span, .thumbs:hover:before,
.thumbs:hover span {
  opacity: 1;
}
.thumbs:focus:before, .thumbs:hover:before {
  top: 50%;
}
.thumbs:focus span, .thumbs:hover span {
  top: 0;
}
.thumbs:focus .info, .thumbs:hover .info {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}
.thumbs:focus .pay, .thumbs:hover .pay {
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}

.youtube_container{
	display: flex;
	flex-direction: column;
}

.container_video{
	display: flex;
	flex-direction: row;
}

.youtube_container .video{
	margin: 50px 0;
	display: flex;
  flex-direction: column;
  align-items: center;
}

.youtube_container .items__h2:after{
	content: "";
	display: block;
	margin: 2px auto;
	margin-top: 8px;
	border: 2px solid #ED2553;
	width: 20%;
}

.video iframe{
  width: 351px;
  height: 194px;
}

.youtube__span{
	width: 47%;
	text-align: center;
}

 .quest_item, .demoVue{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.bg_quests{
	background: #f7f7f7;
}

.bg_quests .items__h2:after{
	content: "";
  display: block;
  margin: 2px auto;
  margin-top: 8px;
  border: 2px solid #ED2553;
  width: 20%;
}
.container_questions{
	margin-bottom: 50px;
}

.demoVue{
	background: #fff;
	width: 48%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	text-align: left;
	padding: 5px 33px;
	border-top:1px solid #e5e5e5;
}
.quest_item .quest__span{
	display: flex;
	padding: 4px 0px;
  text-align: left;
}

.quest_item .h3_quest:after{
  content: "";
  display: block;
  background: url(../img/icon2.png) no-repeat top right;
  float: right;
  right: 0;
  margin: -12px 9px 0 0;
  width: 24px;
  height: 24px;
}

.quest_item .h3_quest1:after{
  content: "";
  display: block;
  background: url(../img/icon2.png) no-repeat top right;
  float: right;
  right: 0;
  margin: 8px 0 0 16px !important;
  width: 24px;
  height: 24px;
}

.quest_item .h3_quest.pseudo:after{
  content: "";
  display: block;
  background: url(../img/icon2.png) no-repeat top right;
  -webkit-transform: rotateX(180deg);
  float: right;
  right: 0;
  margin: -24px 9px 0 0;
  width: 24px;
  height: 24px;
}

.dropdown{
	padding: 12px 15px;
}


.dropdown a:first-child:hover{
	border-bottom: unset !important;
}

.form-check-label{
	padding-left: 17px; 
}

.form-check{
	padding-left: 0.15rem !important;
}

.h3_quest1, .h3_quest{
	cursor: pointer;
}

.quest_item .h3_quest1.pseudo:after{
  content: "";
  display: block;
  background: url(../img/icon2.png) no-repeat top right;
  -webkit-transform: rotateX(180deg);
  float: right;
  right: 0;
  margin: -2px 0 0 16px !important;
  width: 24px;
  height: 24px;
}


.fade-enter-active, .fade-leave-active { 
	transition: opacity .5s; 
} 
.fade-enter, .fade-leave-to { 
	opacity: 0; 
}
.notIndex{
	margin-bottom: unset !important;
}