* {
    margin: 0;
    padding: 0;
}
.korpus > div, .korpus > input { 
    display: none; 
}
.korpus label { 
    padding: 5px;
    border: 1px solid #aaa; 
    line-height: 28px; 
    cursor: pointer; 
    position: relative; 
    bottom: 1px; 
    /* background: #fff;  */
    background-image: url(fon.png);
    box-shadow:0 0 0 128px rgba(0, 0, 0, 0.2) inset;
}
.korpus .small { 
    margin: 0px;
    font-size: 8pt;
}
.korpus #label1 {
    padding-right: 64px;
}
.korpus input[type="radio"]:checked + label { 
    border-bottom: 2px solid #ccc; 
}
.korpus > input:nth-of-type(1):checked ~ div:nth-of-type(1),
.korpus > input:nth-of-type(2):checked ~ div:nth-of-type(2),
.korpus > input:nth-of-type(3):checked ~ div:nth-of-type(3) { 
    display: block; 
    padding: 5px; 
    border: 1px solid #aaa; 
    box-shadow:0 0 0 128px rgba(0, 0, 0, 0.1) inset;
}
.rightMenu {
    margin: auto;
    width: 300px;
}
.rightMenu .korpus .register input {
    width: 95%;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 12pt;
}
.rightMenu .korpus .vhod input {
    width: 95%;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 12pt;
}
.rightMenu .korpus .register .btn {
    width: 290px;
}
.rightMenu .korpus .vhod .btn {
    width: 290px;
}


.dog {
    width: 60%;
    height: 80%;
    position: absolute;
    left: 30%;
    top:10%;
    background-color: wheat;
    opacity: 0.8;
}
.top {
    z-index: 999999;
}
.closeBTN {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 10px;
    top: 10px; 
    cursor: pointer;
}





#map {
    width: 100%;
    top:0px;
    height:100%;
    z-index: 100;
    position: absolute;
    right: 0;
}
.info {
    width: 60%;
    height: 80%;
    position: absolute;
    left: 30%;
    top:10%;
    background-color: white;
    opacity: 0.8;
}